<!DOCTYPE html>
<html>
<head>
    <title>Email Verification</title>
</head>
<body>
    <div style="display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 100%; height: 100%;
        background-color: rgba(128, 128, 128, .3); 
        position: relative;
        padding: 5px;">
        <div style="display: grid;
            width: 100%; 
            height: 100%; 
            margin: 0 auto;
            max-width: 500px; 
            border: 1px solid black; 
            position: relative;"
        >
            <div style="background-color: black; 
            color: white; 
            height: fit-content; 
            font-weight: 900; 
            font-size: 30px; 
            padding: 5px 10px;">
                Socialite
            </div>
            <div style="padding-top: .1rem;
            padding-bottom: 2rem; 
            padding-left: 1rem; 
            padding-right: 1rem; 
            /* display: grid; */
            gap: 1rem; 
            background-color: white;">
                <p style="font-size: 25px; 
                font-weight: 700; color: black;">
                    Hi, {{first_name}}!
                </p>
                <p style="font-size: 20px; 
                font-weight: 500;">
                    There was a request to change your password!
                </p>
                <p style="font-size: 20px; 
                font-weight: 500;">
                    If you did not make this request then please ignore this email.
                </p>
                <p style="font-size: 20px; 
                font-weight: 500;">Otherwise click the button below to reset your password.</p>
                <div>
                    <a style="background-color: black; 
                    color: white; 
                    padding: 10px 20px; 
                    border-radius: 5px; 
                    text-decoration: none;
                    font-size: 20px;" href="{{reset_link}}">Reset Password</a>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
