<!DOCTYPE html>
<html>
<head>
    <title>Email Verification</title>
</head>
<body>
    <div style="display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 100%; height: 100%;
        background-color: rgba(128, 128, 128, .3); 
        position: relative;
        padding: 5px;">
        <div style="display: grid;
            width: 100%; 
            height: 100%; 
            margin: 0 auto;
            max-width: 500px; 
            border: 1px solid black; 
            position: relative;"
        >
            <div style="background-color: black; 
            color: white; 
            height: fit-content; 
            font-weight: 900; 
            font-size: 30px; 
            padding: 5px 10px;">
                Socialite
            </div>
            <div style="padding-top: .1rem;
            padding-bottom: 1rem; 
            padding-left: 1rem; 
            padding-right: 1rem; 
            /* display: grid; */
            gap: 1rem; 
            background-color: white;">
                <p style="font-size: 25px; 
                font-weight: 700; color: black;">
                    Hi, {{full_name}}!
                </p>
                <p style="font-size: 20px; 
                font-weight: 500;">
                    Thanks for signing up for Socialite! We are excited to have you join us. Lets get your email verified so that you can start using Socialite with all its features and glory.
                </p>
                <div>
                    <a style="background-color: black; 
                    color: white; 
                    padding: 10px 20px; 
                    border-radius: 5px; 
                    text-decoration: none;
                    font-size: 20px;" href="{{verification_link}}">Click to Verify Email</a>
                </div>
                <div>
                    <p style="font-size: 20px; 
                    font-weight: 500;">Verifying your email address enables these features and more:</p>
                    <ul>
                        <li style="font-size: 16px; 
                        font-weight: 500;">Follow users</li>
                        <li style="font-size: 16px; 
                        font-weight: 500;">Spill some tea</li>
                        <li style="font-size: 16px; 
                        font-weight: 500;">Like spilled tea</li>
                        <li style="font-size: 16px; 
                        font-weight: 500;">Comment on spills</li>
                    </ul>
                    <p style="font-size: 20px; 
                    font-weight: 500;">any many more.</p>
                </div>
                <p style="font-size: 15px; 
                font-weight: 500; color: gray;">
                    If you didn't sign up, you can safely ignore it.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
