/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-white-opacity: rgba(255, 255, 255, 0.7);

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
  --vt-c-black-opacity: rgba(0, 0, 0, 0.7);

  --vt-c-black: #000000;
  /* --vt-c-green: #089e6a; */
  /* --vt-c-fuchsia: #fd8686; */
  /* --vt-c-fuchsia: rgb(253, 134, 134); */
  /* --vt-c-background-fuchsia: rgba(255, 115, 115); */
  /* --vt-c-fuchsia-hover: rgba(255, 115, 115, .7);
  --vt-c-fuchsia-hover-lighter: rgba(255, 115, 115, .4);
  --vt-c-fuchsia-extreme-light: rgba(255,115,115,.1); */
  /* --vt-c-fuchsia: #ff00ff; */
  --vt-c-fuchsia: rgb(255, 0, 255);
  --vt-c-background-fuchsia: rgba(255, 0, 255);
  --vt-c-fuchsia-hover: rgba(255, 0, 255, .7);
  --vt-c-fuchsia-hover-lighter: rgba(255, 0, 255, .4);
  --vt-c-fuchsia-extreme-light: rgba(255, 0, 255,.1);

  /* --vt-c-green: rgb(28, 179, 126);
  --vt-c-background-green: rgb(28, 179, 126);
  --vt-c-green-hover: rgba(28, 179, 126 .7);
  --vt-c-green-hover-ligher: rgba(28, 179, 126 .4); */



  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.8);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.7);

  --vt-c-text-light-1: var(--vt-c-black);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.8);
  --vt-c-text-light-3: rgba(103, 103, 103, 1);

  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.8);
  --vt-c-text-dark-3: rgba(152, 152, 152, 1);

  --vt-c-hover-dark: hsla(0, 0%, 20%, 0.2);
  --vt-c-hover-light: hsla(0, 0%, 80%, 0.2);;
}

/* semantic color variables for this project */

:root {
  --color-background: var(--vt-c-black);
  /* --color-background: hsl(360, 0%, 15%); */
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-background-opacity: var(--vt-c-black-opacity);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
  --color-lighter: var(--vt-c-text-dark-3);

  --color-theme: var(--vt-c-fuchsia);
  --color-theme-soft: var(--vt-c-fuchsia-hover);
  --color-theme-mute: var(--vt-c-fuchsia-hover-lighter);
  --color-theme-opacity: var(--vt-c-fuchsia-extreme-light);


  --color-button: var(--vt-c-fuchsia);
  --color-button-background: var(--vt-c-background-fuchsia);
  --color-button-hover: var(--vt-c-fuchsia-hover);
  --color-button-hover-ligher: var(--vt-c-fuchsia-hover-ligher);

  /* --color-theme: var(--vt-c-green);
  --color-button: var(--vt-c-green);
  --color-button-background: var(--vt-c-background-green);
  --color-button-hover: var(--vt-c-green-hover);
  --color-button-hover-ligher: var(--vt-c-green-hover-ligher); */


  --color-switch: var(--vt-c-black);
  --color-switch-slider: var(--vt-c-white);

  --color-hover: var(--vt-c-hover-dark);

  color-scheme: dark;
}

[data-theme="light"] {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-opacity: var(--vt-c-white-opacity);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-2);
  --color-lighter: var(--vt-c-text-light-3);

  --color-theme: var(--vt-c-fuchsia);
  --color-theme-soft: var(--vt-c-fuchsia-hover);
  --color-theme-mute: var(--vt-c-fuchsia-hover-lighter);
  --color-theme-opacity: var(--vt-c-fuchsia-hover-lighter);

  --color-button: var(--vt-c-fuchsia);
  --color-button-background: var(--vt-c-background-fuchsia);
  --color-button-hover: var(--vt-c-fuchsia-hover);
  --color-button-hover-ligher: var(--vt-c-fuchsia-hover-ligher);

  color-scheme: light;


  --color-switch: var(--vt-c-white);
  --color-switch-slider: var(--vt-c-black);

  --color-hover: var(--vt-c-hover-light);

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  color: var(--color-text);
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: none !important;
  /* transition: all .3s; */
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: visible;
  scrollbar-width: thin;
  max-width: 100%;
  padding: 0;
}


